DET_MODEL_PATH='/models/table_detection'
REG_MODEL_PATH='/models/table_recognition'
DET_MODEL_DEVICE='cpu'
REG_MODEL_DEVICE='cpu'
EMBEDDING_MODEL_PATH='/models/text2vec-base-multilingual'
RERANKER_MODEL_PATH='/models/reranker'
COLLECTION_NAME='fragments'
MODEL_NAME='your-llm-model'
API_KEY='your-api-key'
API_BASE='http://host:7819/v1'
EMBEDDING_URL='http://192.168.1.100:5006/embeddings'
RERANK_URL='http://192.168.1.100:5006/rerank'
MILVUS_URI='http://host.docker.internal:19530'
MILVUS_URL='http://host.docker.internal:19530'
TOKENIZE_URL='http://host:7819/tokenize'
EMBEDDING_URL='http://embedding_api:5006/embeddings'
RERANK_URL='http://embedding_api:5006/rerank'
CELERY_BROKER='redis'
URL=''
TOKEN='your-jwt-token'
